<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>
<body>
<div class="container">
    <div class="fondo">
        <img src="{{ url_for('static', filename='images/tknika_fondo_negro.png') }}" alt="image" height="50" width="50">
    </div>
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="{{ url_for('static', filename='images/logo_CJ.jpg') }}" alt="Ciudad Jardin LHII logoa" height="50">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">CIFP Ciudad Jardín LHII</h4>
                    <p class="chatbox__description--header">Kaixo! Ciudad Jardineko chatbot laguntzailearekin hitzegiten ari zara. Zertan lagundu ahal zaitut?</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Zure mezua idatzi...">
                <button class="chatbox__send--footer send__button">Bidali</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="{{ url_for('static', filename='images/chatbot.png') }}" height="64px" width="64px"/></button>
        </div>
    </div>
</div>

    <script>
        var $SCRIPT_ROOT = '{{ request.script_root|tojson|safe }}';
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>